<!DOCTYPE html>
<html lang="en">
	<head>
    <link rel="stylesheet" href="/styles/game.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
	</head>
	<body>
		<div class="content">
			<header>
				<a href="/" class="img-anchor">
					<img class="img-header" src="/assets/icons/home.svg" alt="Home" />
				</a>
				<h3 class="header-title">Game World</h3>
				<a href="/pages/addgame.html" class="img-anchor">
					<img class="img-header" src="/assets/icons/plus.svg" alt="Add" />
				</a>
			</header>
			<div class="game-area">
				<div class="picture-area">
					<img src="{{imageUrl}}" class="image"/>
					<h1 class="head-line">{{title}}</h1>
					{{#if price}}
						<input class="button-play" type="button" value="Buy now">
					{{else}}
						<input class="button-play" type="button" value="Play now">
					{{/if}}
				</div>
				<ul class="info-list">
					<li>
						<p class="info-label">Platform: {{platform}}</p>
					</li>
					<li>
						<p class="info-label">Genre: {{genre}}</p>
					</li>
					<li>
						<p class="info-label"> Maturity rating: {{maturity}}+</p>
					</li>
				</ul>
			</div>
			<div class="desc-area">
				<p class="p-about">ABOUT</p>
				<p class="p-title">{{title}}</p>
				<img class="desc-arrow" src="/assets/icons/double-arrow.svg">
				<p class="p-desc">{{desc}}</p>
			</div>
		</div>
		<footer>
			<p class="footer-p">Contact us:</p>
			<a href="https://vk.com" target="_blank" rel="noreferrer noopener" class="img-anchor">
				<img class="footer-icon" src="/assets/icons/vk.svg" alt="VK" />
			</a>
			<a
				href="https://www.instagram.com"
				target="_blank"
				rel="noreferrer noopener"
				class="img-anchor"
			>
				<img
					class="footer-icon"
					src="/assets/icons/instagram.svg"
					alt="Instagram"
				/>
			</a>
			<a href="https://twitter.com" target="_blank" rel="noreferrer noopener" class="img-anchor">
				<img class="footer-icon" src="/assets/icons/twitter.svg" alt="Twitter" />
			</a>
			<p class="footer-p">©2021</p>
		</footer>
	</body>
</html>