<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/index.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game World</title>
  </head>
  <body>
    <div class="content">
      <header>
        <a href="/" class="img-anchor">
        	<img class="img-header" src="/assets/icons/home.svg" alt="Home" />
      	</a>
      	<h3 class="header-title">Game World</h3>
      	<a href="/pages/addgame.html" class="img-anchor">
        	<img class="img-header" src="/assets/icons/plus.svg" alt="Add" />
      	</a>
    	</header>
    	<h1 class="head-line">CATALOG</h1>
    	<div class="cols-wrapper">
				<form method="GET" action="/filter" id="filterForm" enctype="multipart/form-data" class="filters-list">
					<ul class="filters-ul">
						<li class="filters-list-item">
							<label class="filter-label" for="platform">Platform</label>
							<select class="filter-select" name="platform" id="platform">
								<option value="PC">PC</option>
								<option value="Xbox">Xbox</option>
								<option value="Playstation">Playstation</option>
								<option value="Nintendo Switch">Nintendo Switch</option>
							</select>
						</li>
						<li class="filters-list-item">
							<label class="filter-label" for="genre">Genre</label>
							<select class="filter-select" name="genre" id="genre">
								<option value="Shooter">Shooter</option>
								<option value="RPG">RPG</option>
								<option value="Strategy">Strategy</option>
								<option value="Racing">Racing</option>
								<option value="Roguelike">Roguelike</option>
								<option value="Simulator">Simulator</option>
								<option value="Visual Novel">Visual Novel</option>
							</select>
						</li>
						<li class="filters-list-item">
							<label class="filter-label" for="maturity"> Maturity rating</label>
							<select class="filter-select" name="maturity" id="maturity">
								<option value="4">4+</option>
								<option value="12">12+</option>
								<option value="16">16+</option>
								<option value="18">18+</option>
							</select>
						</li>
					</ul>
					<input class="filter-button" type="submit" value="Apply" />
				</form>
				<div class="games-list">
					{{#each games}}
						<div class="game-card">
							<a href="/delete/{{_id}}" class="delete-button"></a>
							<a href="http://localhost:3000/game/{{_id}}">
								<img src="{{imageUrl}}" alt="game" class="game-cover" />
								<p class="game-title" >{{title}}</p>
								{{#if price}}
									<p class="game-price">${{price}}</p>
								{{else}}
									<img src="/assets/icons/free.svg" alt="Free" class="game-price-free">
								{{/if}}
							</a>
						</div>
					{{/each}}
				</div>
    	</div>
    </div>
    <footer>
      <p class="footer-p">Contact us:</p>
      <a href="https://vk.com" target="_blank" rel="noreferrer noopener" class="img-anchor">
        <img class="footer-icon" src="/assets/icons/vk.svg" alt="VK" />
      </a>
      <a
        href="https://www.instagram.com"
        target="_blank"
        rel="noreferrer noopener"
				class="img-anchor"
      >
        <img
          class="footer-icon"
          src="/assets/icons/instagram.svg"
          alt="Instagram"
        />
      </a>
      <a href="https://twitter.com" target="_blank" rel="noreferrer noopener" class="img-anchor">
        <img class="footer-icon" src="/assets/icons/twitter.svg" alt="Twitter" />
      </a>
      <p class="footer-p">©2021</p>
    </footer>
  </body>
</html>
